<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164263130603-oak8di2sdng3mt8ut15hmd42hp0a2t2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164263130603-oak8di2sdng3mt8ut15hmd42hp0a2t2b</string>
	<key>API_KEY</key>
	<string>AIzaSyDZpqxkTru574PjHMS21LNmLGNUFmpk_gw</string>
	<key>GCM_SENDER_ID</key>
	<string>164263130603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Shyam-Kumar.teamConnect</string>
	<key>PROJECT_ID</key>
	<string>pheidi-4bfef</string>
	<key>STORAGE_BUCKET</key>
	<string>pheidi-4bfef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164263130603:ios:00e673da25274c4a5815ae</string>
	<key>DATABASE_URL</key>
	<string>https://pheidi-4bfef.firebaseio.com</string>
</dict>
</plist>